/* --- Contenedor General del Carrito --- */
.carrito-container {
  max-width: 800px;
  margin: 30px auto;
  background-color: #e3e3e3;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  color: #565f64;
}

h2 {
    color: #565f64;
}

.carrito-container h2 {
  text-align: center;
  margin-bottom: 25px;
}

.carrito-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}


.carrito-item {
  display: flex;
  align-items: center; 
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
}



.carrito-item-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 8px;
  margin-right: 20px;
}


.carrito-item-info {
  flex-grow: 1; 
}


.item-price {
  margin: 5px 0 0;
  color: #555;
  font-size: 0.9rem;
}

.BotonEliminar {
    background-color: crimson;
    color: #e3e3e3;
    padding: 8px;
    border-radius: 30%;
}


.carrito-total {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 2px solid #ddd;
  text-align: right;
}

.carrito-total h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #565f64;
}