
.modal-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.7); 
  

  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 1000; 
}


.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 90%;
}

.close-button {
  display: block;
  margin-top: 20px;
  padding: 8px 16px;
  border: none;
  background-color: #e3e3e3;
  border-radius: 5px;
  cursor: pointer;
}