.product-card {
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    background-color: white;

    display: flex;
    flex-direction: column;
    

    position: relative; 
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-3px);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
}

/* Etiqueta de descuento */
.etiq-desc {
    position: absolute;
    top: 10px;
    left: -1px; 
    background-color: #1996d4;
    color: white;
    padding: 5px 15px;
    border-radius: 0 5px 5px 0;
    font-size: 0.9rem;
    font-weight: bold;
    z-index: 2;
}

.imagen-producto {
    max-width: 100%;
    height: 150px;
    object-fit: fill;
    margin-bottom: 15px;
}


.info-producto {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}

.info-producto h4 {
    font-size: 1rem;
    color: #565f64;
    margin: 0 0 10px 0;
    min-height: 40px; 
}

.container-precio-producto {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.precio-original {
    text-decoration: line-through;
    color: #999;
    font-size: 0.9rem;
}

.precio-final {
    font-size: 1.2rem; 
    font-weight: bold; 
    color: #1996d4; 
    margin-top: 8px; 
}

.accion-producto {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.BotonIcono {
    flex: 1; 
    padding: 8px;
    border-radius: 50%;
    background-color: #E3E3E3;
    color: #565f64;
    transition: all 0.3s ease;
    display: grid; 
    place-items: center;
}

.BotonIcono:hover {
    background-color: #565f64;
    color: #e3e3e3;
}

.BotonVerMas {
    flex: 2;
    background-color: #1996d4;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}
.BotonVerMas:hover{
    color: white;
    background-color: #147ab2;
}